[submodule "external/embodied-agent-interface"]
	path = external/embodied-agent-interface
	url = https://github.com/embodied-agent-interface/embodied-agent-interface
[submodule "external/iGibson"]
	path = external/iGibson
	url = https://github.com/embodied-agent-interface/iGibson.git
